@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@1,300&family=Pacifico&display=swap');
.header{
    padding: 3px 120px;
    width: 800px;
    height: 70px;
    background-color: #f8a5c2;
    opacity: 0.5;
}

.border{
    padding: 80px 50px;
    width: 950px;
    height: 475px;
    border-radius: 0px;
}


body { 
    background-image: url("http://parkinsonsdisease.s3-website.ap-south-1.amazonaws.com");
    background-size: cover;
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
    
}

.btn {
    padding: 10px 40px;
    background-color: #3dc1d3;
    color: #2d3436;
    font-style: oblique;
    font-weight: bold;
    border-radius: 10px;
    margin-top: -1rem;    
}

.textbox{
    padding: 10px 40px;
    background-color: #f5cd79;
    color: #2d3436;
    border-radius: 10px;
   
}
    
::placeholder {
    color: #2d3436;
    opacity: 1;
    font-style: oblique;
    font-weight: bold;
}

.word{
    color: #1e272e;
    font-family: 'Merriweather Sans', sans-serif;
    font-weight: bold;
    font-size: 40px;
}

.bottom{
    color: #236B8E;
    font-style: oblique;
    font-weight: bold;
    margin-top: -2.5rem;
}
